name: Docker Image Build and Push

on:
  push:
    branches: [main]
    paths:
      - 'app/phone-e-commerce/**'
      - '.github/workflows/docker_image.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: ./app/phone-e-commerce
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/phone-e-commerce:latest

  
  
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: |
          pip install ansible

      - name: Install community.docker collection
        run: |
          ansible-galaxy collection install community.docker

      - name: Create SSH key file
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/devops_capstone.pem
          chmod 600 ~/.ssh/devops_capstone.pem

      - name: Run Ansible playbook
        run: |
          cd infra/ansible && \
          ansible-playbook \
            -i inventory/hosts.ini \
            playbooks/site.yml \
            -e "ansible_host=${{ secrets.EC2_HOST }}" \
            -e "ansible_user=${{ secrets.EC2_USERNAME }}" \
            -e "ansible_ssh_private_key_file=~/.ssh/devops_capstone.pem"